<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200...700&display=swap"
      rel="stylesheet"
    />
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              oswald: ['Oswald', 'sans-serif'], //oswald (title)
              Fira: ['Fira Sans', 'sans-serif'], //oswald (title)
            },
          },
        },
      };
    </script>
    <!-- <style>
    @keyframes kenburns {
        0% {
          transform: scale(1) translate(0, 0);
        }
    
        100% {
          transform: scale(1.1) translate(-5%, -5%);
        }
      }
    
      .kenburns-img {
        animation: kenburns 20s ease-in-out infinite alternate;
      }
    </style> -->

    <title>Home Page</title>
  </head>


  <body class="bg-gray-200 font-sans text-gray-800">
    <!-- <% if (role === "admin") { %>
    <h1>Admin Page</h1>
    <p>Welcome, Admin!</p>
    <p>Here is a list of all users:</p>
    <ul id="user-list"></ul>

    <script>
      fetch('/admin/users')
        .then((response) => response.json())
        .then((data) => {
          const userList = document.getElementById('user-list');
          data.forEach((user) => {
            const li = document.createElement('li');
            li.innerText = user.username;
            userList.appendChild(li);
          });
        })
        .catch((error) => console.error('Error fetching users:', error));
    </script>
    <% } else if (role === "user") { %>
    <h2>Welcome, regular user!</h2> -->

    <div
      class="flex flex-row justify-center pt-5 text-md text-slate-500 space-x-5"
    >
      <button class="px-3" onclick="window.location.href='/home'">Home</button>
      <button class="px-3" onclick="window.location.href='/profile'">
        Profile
      </button>
      <form class="px-3" action="/logout">
        <input type="submit" value="Logout" />
      </form>
    </div>

    <div class="px-8 py-2 space-y-4">
      <h1
        class="text-4xl flex flex-row gap-4 justify-center mx-auto flex-wrap font-bold"
      >
        GameHub
      </h1>
      <form action="/search" method="post">
        <input
          type="text"
          name="search"
          placeholder="Search..."
          class=" border-black w-full rounded-lg bg-white"
        />
      </form>
      <div class="p-8 gap-4 justify-center mx-auto flex-wrap rounded-xl space-y-1 bg-gray-100 shadow:md">
        <div class="px-8 py-4">
          <h2 class="text-2xl font-bold mb-4">Top 10 Popular Games</h2>
      
          <% if (games && games.length> 0) { %>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
              <% games.forEach(game=> { %>
                <div class=" p-4 rounded-xl text-center shadow:md bg-white transition hover:scale-[1.01] ease-in-out">
                  <h3 class="text-lg font-semibold mb-2">
                    <%= game.name %>
                  </h3>
                  <p class="text-sm mb-2 text-slate-500">Rating: <%= game.rating %>
                  </p>
                  <% if (game.background_image) { %>
                    <a href="/gameDescription/<%= game.id %>">
                      <img src="<%= game.background_image %>" alt="<%= game.name %>"
                        class="w-full h-40 object-cover rounded" />
                    </a>
                    <% } %>
                </div>
                <% }) %>
            </div>
            <% } else { %>
              <p>No games available.</p>
              <% } %>
      
                <p class="text-slate-400 text-sm pt-6">See what people are playing!</p>
                <button
                  class="mt-2 bg-slate-700 px-4 py-2 rounded-xl text-white hover:bg-slate-500 transition hover:scale-[1.01] ease-in-out"
                  onclick="window.location.href='/allGames'">
                  View All Games
                </button>
        </div>
      </div>

      <div class="flex-col space-y-8 flex justify-center mx-auto px-8">
        <!-- <div class="py-4">
          <p>Hi <%= username %>,<br />Welcome to the home page!</p>
          <p>Role: <%= role %></p>
        </div> -->

        <button
          class="text-lg bg-slate-700 px-3 py-6 rounded-xl text-white hover:bg-slate-500 transition hover:scale-[1.01] ease-in-out"
          onclick="window.location.href='/createLobby/0'">
          Create a Lobby
        </button>

        <button
          class="text-lg bg-slate-700 px-3 py-6 rounded-xl text-white hover:bg-slate-500 transition hover:scale-[1.01] ease-in-out"
          onclick="window.location.href='/viewLobbies'">
          Join a Lobby
        </button>

        <button
          class="text-lg bg-slate-500 px-3 py-6 rounded-xl text-white hover:bg-slate-400 transition hover:scale-[1.01] ease-in-out"
          onclick="window.location.href='/yourActiveLobby'"
        >
          Your Active Lobby
        </button>

        <button
          class="text-lg bg-slate-600 px-3 py-6 rounded-xl text-white hover:bg-slate-500 transition hover:scale-[1.01] ease-in-out"
          onclick="window.location.href='/searchGames'"
        >
          Search a Game
        </button>
        <button
          class="text-lg bg-slate-700 px-3 py-6 rounded-xl text-white hover:bg-slate-500 transition hover:scale-[1.01] ease-in-out"
          onclick="window.location.href='/viewLobbies'"
        >
          View others lobbies
        </button>

      </div>
      <% } %>
    </div>
  </body>
</html>
